@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange-btn: #FE6B02;
    --blue-btn: #0668C1;
    --text-bold: Geomanist-bold;
  }
@font-face {
    font-family: Geomanist-regular;
    src: url('./fonts/Geomanist-Regular.otf');
}
@font-face {
    font-family: Geomanist-bold;
    src: url('./fonts/Geomanist-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100%; 
}
.containers{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.HeroSection{
    background: url('./images/hero-bg1-img.png');
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.iconSet{
    
background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(6,104,193,0.7) 0%);
filter: blur(8px);
  -webkit-filter: blur(36px);
}
/* .footer{
    background: url('./assets/images/footer-bg.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: content;
} */
p{
    color: #fff;
    font-family: Geomanist-regular;
}

.hovercol{
    transition: all ease 1s;
    cursor: pointer;

}
.hovercol:hover{
    background: #021A30;
    transition: all ease 2s;
    box-shadow: -2px -1px 0 1px  #055094;
}
.hovercol:hover .hoverArrow{
    transition: all ease 1s;
    width: 35%;
}
.hovercol:hover .hoverArrow img{
    width: 75%;
    margin: 0;
}

.serCol{
    background: #021A30;
    transition: all ease 2s;
    box-shadow: -2px -1px 0 1px  #055094;
}




/* -------Animation Keyframes--------- */
@keyframes slide-in {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slideleft {
    animation: slide-in 1000ms;
    animation-timing-function: linear;
  }
/* ----testimonial section----- */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/* media start here */
@media (300px <= width <= 800px)
{
    .container{
        width: 100%;
        padding: 0 10px;
    }
}
